.navigation-wrap h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.dropdown-toggle {
  color: #003255;
  padding-left: 12px;
  padding-right: 24px;
  transition: all 0.2s;
}

.dropdown-toggle:hover {
  color: #de0080;
}

.navigation-link {
  color: #003255;
  justify-content: center;
  align-items: center;
  padding: 20px 12px;
  font-family: Merriweather, serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s;
  display: flex;
}

.navigation-link:hover {
  color: #de0080;
}

.navigation-link.w--current {
  color: #99d715;
}

.nav-menu {
  color: #283338;
  align-items: center;
  font-size: 15px;
  display: flex;
  position: static;
}

.dropdown {
  color: #003255;
  margin-left: 5px;
  margin-right: 5px;
  position: static;
}

.navigation-left {
  width: 55%;
  align-items: center;
  display: flex;
}

.dropdown-list-megamenu {
  min-width: 100%;
  font-family: Roboto, sans-serif;
  top: 0;
}

.dropdown-list-megamenu.w--open {
  background-color: #eee;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: absolute;
  top: 59px;
  bottom: auto;
  left: 0;
  right: 0;
}

.navigation {
  z-index: 9;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  align-items: center;
  display: none;
}

.navigation-column {
  width: 31%;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}
.navigation-column.col-1 {
  order: 1;
}
.navigation-column.col-2 {
  order: 2;
}
.navigation-column.col-3 {
  order: 3;
}
.navigation-column.col-4 {
  order: 4;
}

.brand {
  z-index: 999;
  background-color: #003255;
  margin-right: 44px;
  padding: 16px 28px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.drop-arrow-plain {
  margin-right: 5px;
  font-size: 14px;
}

.navigation-full {
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid rgba(61, 66, 75, 0.07);
  align-items: center;
  padding: 0 10px;
  display: flex;
  position: relative;
}

.navigation-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 165px;
  display: flex;
}

.navigation-right {
  width: 45%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  display: flex;
  padding: 8px 0;
}

.navigation-drop-container {
  max-width: 1216px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.slide {
  overflow: hidden;
}

.button,
.sv-defaultFormTheme input[type="button"],
.sv-defaultFormTheme input[type="reset"],
.sv-defaultFormTheme input[type="submit"] {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #de0080;
  justify-content: center;
  align-items: center;
  padding: 15px 35px 14px;
  font-size: 13px;
  line-height: 13px;
  transition: all 0.4s ease-out;
  display: flex;
}
.sv-defaultFormTheme input[type="button"],
.sv-defaultFormTheme input[type="reset"],
.sv-defaultFormTheme input[type="submit"] {
  font-size: 14px;
  font-weight: 500;
  padding: 18px 45px;
}

.button:hover,
.sv-defaultFormTheme input[type="button"]:hover,
.sv-defaultFormTheme input[type="reset"]:hover,
.sv-defaultFormTheme input[type="submit"]:hover {
  background-color: #003255;
}

.button.is-transparent {
  color: #003255;
  background-color: rgba(222, 0, 128, 0);
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.navigation-link-block {
  width: 100%;
  color: #283338;
  border-radius: 20px;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.35s;
  display: flex;
}

.nav-content-wrap {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav-title {
  font-family: Merriweather, serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
}

.mobile-nav-link {
  width: 100%;
  color: #003255;
  font-family: Merriweather, serif;
  font-size: 18px;
}

.navigation-container-mob {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navigation-mob {
  z-index: 10;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.mobile-dropdown {
  width: 100%;
}

.mobile-nav {
  background-color: #fff;
  border-top: 1px solid #003255;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 42px 42px 55px rgba(32, 53, 90, 0.09);
}

.mobile-logo {
  width: 54px;
}

.dropdown-list-mob.w--open {
  background-color: #fff;
}

.menu-mob {
  justify-content: flex-end;
  align-items: stretch;
  padding-right: 0;
  display: flex;
}

.menu-mob.w--open {
  color: #de0080;
  background-color: rgba(0, 0, 0, 0);
}

.mobile-toggle {
  width: 100%;
  color: #003255;
  font-family: Merriweather, serif;
  font-size: 20px;
}

.navigation-wrap {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.navigation-link-block-mob {
  width: 100%;
  color: #283338;
  border-radius: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.35s;
  display: flex;
}

.navigation-link-block-mob:hover {
  color: #7735f6;
  background-color: rgba(119, 53, 246, 0.05);
}

.body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.icon-embed-custom-2 {
  width: 18px;
  color: #de0080;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-embed-custom-2:hover {
  color: #003255;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.field-label {
  display: none;
}

.search-button {
  display: block;
}

.search-button.is-mobile {
  width: 50px;
  height: auto;
  background-color: #eee;
  background-image: url("/images/18.17e5c29718bfae2e6011b81e/1693492056971/search-icon.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 18px;
  flex: 0 auto;
  padding: 13px;
}

.search {
  flex-direction: row;
  flex: 0 auto;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.search-input {
  background-color: #eee;
  background-image: url("/images/18.17e5c29718bfae2e6011b81e/1693492056971/search-icon.svg");
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: auto;
  border: 0 solid rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding-right: 33px;
}

.search-input::-ms-input-placeholder {
  color: #003255;
  font-size: 14px;
  font-weight: 400;
}

.search-input::placeholder {
  color: #003255;
  font-size: 14px;
  font-weight: 400;
}

.search-input.is-mobile {
  height: 50px;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  flex: 0 auto;
}

.icon-embed-custom-3 {
  width: 1.875rem;
  height: 1.125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.spacer-h {
  margin-left: auto;
}

.mobile_search-form-open {
  margin-left: 15px;
  margin-right: 15px;
}

.dropdown-trigger-text {
  font-family: Merriweather, serif;
  font-weight: 400;
}

.icon-embed-custom-4 {
  width: 1.0625rem;
  color: #de0080;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navigation-column-title {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.nav-dd-link {
  color: #6a7882;
  font-size: 18px;
  font-weight: 300;
  transition: color 0.3s;
}

.nav-dd-link:hover {
  color: #003255;
}

.nav-content-wrap-mob {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.dropdown-list-wrapper-mob {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.navigation-column-mob {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  display: flex;
}
.navigation-column-mob.col-1 {
  order: 1;
}
.navigation-column-mob.col-2 {
  order: 2;
}
.navigation-column-mob.col-3 {
  order: 3;
}
.navigation-column-mob.col-4 {
  order: 4;
}

.navigation-column-title-mob {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.search-mob {
  z-index: 60;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  border-style: solid none;
  padding: 20px;
  display: none;
  position: absolute;
  top: 100%;
}

.section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 20px;
}

.rich-text-block {
  margin-bottom: 20px;
  font-weight: 400;
}

.search-box-mobile-wrapper {
  width: 100%;
  display: flex;
}

.mobile-search-underlay {
  z-index: 50;
  background-color: rgba(255, 255, 255, 0);
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.dropdown-list-simple-mob.w--open {
  background-color: #fff;
}

@media screen and (min-width: 1280px) {
  .dropdown-toggle {
    color: #003255;
  }

  .dropdown-toggle:hover {
    color: #de0080;
  }

  .navigation-link {
    color: #003255;
    font-family: Merriweather, serif;
    font-weight: 400;
  }

  .navigation-link:hover {
    color: #de0080;
  }

  .navigation {
    display: flex;
  }

  .drop-arrow-plain:hover {
    color: #de0080;
  }

  .button {
    cursor: pointer;
  }

  .button:hover {
    background-color: #b8006b;
  }

  .button.is-transparent {
    cursor: pointer;
  }

  .button.is-transparent:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .navigation-mob {
    display: none;
  }

  .navigation-wrap {
    position: -webkit-sticky;
    position: sticky;
  }

  .body {
    color: #003255;
  }

  .search-button {
    display: none;
  }

  .search-input.is-mobile {
    background-position: 99%;
  }

  .dropdown-trigger-text {
    color: #003255;
    font-family: Merriweather, serif;
    font-weight: 400;
  }

  .dropdown-trigger-text:hover {
    color: #de0080;
  }

  .dropdown-list.w--open {
    width: 100%;
    max-width: 200px;
    min-width: 10px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #eee;
    flex-direction: column;
    padding: 20px;
    display: flex;
    overflow: hidden;
  }
}

@media screen and (max-width: 991px) {
  .navigation-left,
  .navigation {
    display: none;
  }

  .navigation-full {
    background-color: #fff;
  }

  .navigation-link-block {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .nav-content-wrap {
    padding-left: 10px;
  }

  .nav-title {
    margin-bottom: 6px;
    font-size: 15px;
  }

  .mobile-nav-link {
    width: 100%;
    color: #003255;
    font-family: Merriweather, serif;
    font-size: 18px;
    font-weight: 400;
  }

  .mobile-nav-link:hover {
    color: #de0080;
  }

  .navigation-container-mob {
    justify-content: flex-start;
  }

  .navigation-mob {
    border-bottom: 1px solid rgba(68, 85, 103, 0.11);
    flex-direction: row;
    justify-content: center;
    padding: 15px 5px;
    display: flex;
  }

  .mobile-dropdown {
    width: 100%;
  }

  .mobile-nav {
    max-height: 90vh;
    background-color: #fff;
    border-top: 1px solid #003255;
    padding: 15px 20px;
    overflow: auto;
    box-shadow: 42px 42px 55px rgba(32, 53, 90, 0.09);
  }

  .dropdown-list-mob {
    background-color: #fff;
  }

  .dropdown-list-mob.w--open {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .menu-mob {
    width: 30px;
    color: #de0080;
    border-radius: 10px;
    padding: 0;
  }

  .menu-mob.w--open {
    color: #de0080;
    background-color: rgba(0, 0, 0, 0);
  }

  .mobile-toggle {
    width: 100%;
    color: #003255;
    font-family: Merriweather, serif;
    font-size: 18px;
    font-weight: 400;
  }

  .mobile-toggle:hover {
    color: #de0080;
  }

  .navigation-link-block-mob {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 0;
  }

  .navigation-link-block-mob:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .body {
    overflow: auto;
  }

  .icon-embed-custom-2 {
    width: 18px;
    height: 18px;
    color: #de0080;
    padding-left: 0;
    padding-right: 0;
  }

  .icon-embed-custom-2:hover {
    color: #003255;
  }

  .spacer-h {
    margin-left: auto;
  }

  .mobile_search-form-open {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 25px;
  }

  .nav-content-wrap-mob {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .dropdown-list-wrapper-mob {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
  }

  .navigation-column-mob {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .navigation-column-title-mob {
    margin-bottom: 0;
  }

  .search-mob {
    z-index: 1100;
    padding: 20px;
  }

  .brand-2.w--current {
    padding-left: 0;
  }

  .dropdown-list-simple-mob {
    background-color: #fff;
  }

  .dropdown-list-simple-mob.w--open {
    padding: 10px 20px 54px;
  }
}

@media screen and (max-width: 767px) {
  .brand-2 {
    padding-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .button.is-transparent {
    margin-left: auto;
  }

  .navigation-link-block {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navigation-mob,
  .mobile-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .navigation-link-block-mob {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .spacer-h {
    display: none;
  }

  .dropdown-list-simple-mob.w--open {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* custom code */
header[aria-label="main-header"] {
  position: sticky;
  top: 0;
  z-index: 9;
}

header a:hover {
  text-decoration: underline;
}

header .nav-dd-link:hover {
  text-decoration: underline;
  color: #003255;
  text-decoration-color: #de0080;
}

@media screen and (min-width: 1024px) {
  header .nav-title {
    font-size: 1.4em;
  }

  header .nav-dd-link {
    font-size: 1.1em;
  }
}

.dropdown-list-simple-mob.w--open {
  padding-left: 20px;
  padding-right: 20px;
  display: flex !important;
  gap: 5px;
  flex-direction: column;
}
