.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  width: max-content;
}

.icon {
  &:hover {
    svg {
      path {
        fill: #fff;
      }
      circle {
        fill: #de0080;
      }
    }
  }
}

//.text {
//  font-family: var(--env-font-family);
//  color: var(--env-block-font-color);
//}
