.sv-editor-menu-visible .lang-switch-wrap {
  display: flex;
  visibility: visible;
}

.language {
  display: none;
  visibility: hidden;
  text-align: right;
  align-items: center;
  @media screen and (min-width: 1001px) {
    justify-content: flex-end;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  a {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: transparent;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.no {
  margin-right: 15px;
}

.se {
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
